/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  color: #333;
  background-color: white;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white; /* Assure que le header reste au-dessus des autres éléments */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6 );
}

/* Header Container */
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: auto; /* Centre le conteneur */
  background: linear-gradient(90deg, #FFFFFF);
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Espace pour le futur logo (actuellement vide) */
.logo img {
  width: 300px; /* Ajuste cette valeur selon la taille de ton logo */
  height: auto;
  margin-left: 40px;
}

/* Centrer le menu */
.menu-center {
  flex-grow: 1;
  text-align: center;
  flex-direction: column;
}

.menu-center ul {
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
  margin-right: 100px;
}

.menu-center ul li {
  margin: 0 20px;
}

.menu-center ul li a {
  color: rgba(231,87,86,0.4);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
  font-family: 'Syne';
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}


/* Animation de surlignement au survol */
.menu-center ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #FDEF77; /* Couleur du surlignement */
  transition: width 0.3s ease;
}

.menu-center ul li a:hover::after {
  width: 100%; /* Le surlignement prend toute la largeur de l'élément lors du survol */
}

/* Changement de couleur au survol */
.menu-center ul li a:hover {
  color: #FDEF77;
}

/* Bouton Prendre RDV */
.cta-btn {
  transform: translateY(20px) translateX(-50px);
  background-color: rgba(231,87,86,0.4);
  color: white;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  font-family: 'Syne';
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}

.cta-btn:hover {
  background-color: #FDEF77;
}

/* Section de présentation */
.presentation {
  margin-top: 150px;
  padding: 120px 2rem 2rem; /* Ajout d'un padding pour ne pas que le texte soit masqué */
  background-color: white;
  text-align: center;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.presentation h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: 'Syne';
  color:rgba(231,87,86,0.4) ;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.presentation p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  font-family: 'inter';
}

.presentation .photos {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.presentation .photos img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

/* Section des expériences */
.experience {
  padding: 2rem 2rem;
  background-color: rgba(231,87,86,0.4);
  color: #333;
  background-image: url('../images/MOTIF.png');
}

.experience h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: 'Syne';
  color:rgba(231,87,86,0.4) ;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15)
}

.experience .experience-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experience .experience-item {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.experience .experience-item h3 {
  font-size: 1.6rem;
  color: rgba(231,87,86,0.4);
  font-family: 'lemonada';
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15)
}

.experience .experience-item p {
  font-family: 'inter'; 
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

footer .footer-info {
  font-size: 1rem;
}